---
import Section from "~/components/Section";
import Text from "~/pages/_components/partials/Text.astro";
const id = "about";
---

<Section {id}>
  <Section.Title {id}>About</Section.Title>
  <Text id="about" class="space-y-4 mt-4" />
</Section>
