---
import Section from "~/components/Section";
import Text from "~/pages/_components/partials/Text.astro";
const id = "about";
---

<Section {id}>
  <Section.Title {id}>About</Section.Title>
  <span class="italic">Que Sera, Sera (Whatever Will Be, Will Be)</span>
  <Text id="about" class="space-y-4 mt-4" />
</Section>
