---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section";
---

<Layout
  title="Privacy Policy"
  description="Privacy Policy for himanshubhardwaz.com"
>
  <Section>
    <h1 class="text-2xl font-bold mb-4">Terms of Service</h1>
    <p class="mb-4"><strong>Effective Date:</strong> 21st December 2024</p>
    <p class="mb-4">
      Welcome to himanshubhardwaz.com. By using the App, you agree to these
      terms.
    </p>

    <h2 class="text-xl font-semibold mt-6 mb-2">Use of the App</h2>
    <ul class="list-disc pl-6 mb-4">
      <li>
        <strong>Eligibility:</strong> Use requires Google Sign-In to be able to like
        blogs.
      </li>
    </ul>

    <h2 class="text-xl font-semibold mt-6 mb-2">Termination</h2>
    <p class="mb-4">We may terminate access for violations or misuse.</p>

    <h2 class="text-xl font-semibold mt-6 mb-2">Limitation of Liability</h2>
    <p class="mb-4">
      We are not liable for indirect damages arising from App use.
    </p>

    <h2 class="text-xl font-semibold mt-6 mb-2">Updates</h2>
    <p class="mb-4">Changes to these terms will be posted here.</p>

    <h2 class="text-xl font-semibold mt-6 mb-2">Contact</h2>
    <p class="mb-4">For questions, contact us at himanshu76200@gmail.com.</p>
  </Section>
</Layout>
