---
import TechPill from "~/components/TechPill.astro";
---

<footer
  class="mt-[calc(theme(spacing.12))] mx-auto px-4 max-w-xl py-4 w-full border-t border-border text-sm"
>
  <div
    class="flex max-sm:flex-col items-start sm:items-center justify-between gap-4"
  >
    <span>&copy; <span id="footer-year"></span> - Himanshu Bhardwaz</span>
    <div>
      Made with <TechPill id="astro" /> and <TechPill id="tailwind" />
    </div>
  </div>

  <script is:inline>
    const handleDate = () => {
      document.getElementById("footer-year").innerText =
        new Date().getFullYear();
    };

    handleDate();
    document.addEventListener("astro:after-swap", () => handleDate());
  </script>
</footer>
