---
import Button from "./Button.astro";
import logo from "~/assets/logo.png";

const { user, session } = Astro.locals;

export let isLoggedIn = false;

if (user && session) {
  isLoggedIn = true;
}
---

<script>
  const setupLogoutListener = () => {
    const logout = document.getElementById("logout");

    if (logout) {
      logout.addEventListener("click", async () => {
        try {
          const response = await fetch("/logout", { method: "POST" });
          if (response.ok) {
            const logoutButton = document.getElementById("logout");
            const loginButton = document.getElementById("login");
            if (loginButton) loginButton.style.display = "block";
            if (logoutButton) logoutButton.style.display = "none";
          }
        } catch (error) {
          console.error("Logout error:", error);
        }
      });
    }
  };

  setupLogoutListener();
</script>

<header
  class="px-4 mx-auto max-w-xl flex items-center justify-between w-full py-2"
>
  <a href="/" class="text-text hover:text-text-subtle transition-colors">
    <img src={logo.src} alt="HB" class="h-12 w-auto" />
  </a>
  <div class="items-center flex space-x-2">
    <Button href="/blog">Articles</Button>
    <Button id="logout" style={`display: ${isLoggedIn ? "block" : "none"};`}>
      Logout
    </Button>
    <Button
      href="/login"
      id="login"
      style={`display: ${isLoggedIn ? "none" : "block"};`}
    >
      Login
    </Button>
  </div>
</header>
<div
  class="bg-gradient-to-b from-bg to-bg/0 sticky top-2 h-24 z-10 pointer-events-none"
>
</div>
